

.settings-screen {
    padding: 0px var(--space);
    overflow-x: scroll;

}

.settings-listitem {
    display: flex;
    justify-content: space-between;
    padding:20px 0px;
}

.settings-listitem-left {
    height: 80px;
    }

.settings-listitem__column>i {
    margin-right: 10px;
}
.settings-listitem__column:nth-child(2){
    color:gray;
}

.settings-line {
    margin:20px 0px;
    height: 1px;
    background-color: #999999;
}

.listitem-border {
    border-bottom:1px solid #f2f2f2;
}